# Dépendances Backend
backend/node_modules/
# Dépendances Frontend (si générées par l'outil)
frontend/node_modules/

# Fichiers de build Frontend (exemple)
frontend/dist/

# Fichiers OS / IDE
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
